/* Custom colors */

body {
  --md-primary-fg-color:        #ff8400;
  --md-primary-fg-color--light: #ff8400;
  --md-primary-fg-color--dark:  #ff6c00;
}

/* Header configuration */

/* Main logo display */

.md-header__button.md-logo img,
.md-header__button.md-logo svg {
  height: 100px;
}

/* Nav tabs position */

.md-tabs {
  margin-top: -55px;
  background-color: transparent;
}

.md-tabs .md-tabs__list {
  margin-left: 144px;
}

@media (max-width: 1999px) {
  .md-tabs .md-tabs__list {
    margin-left: 140px;
  }
}

@media (max-width: 1599px) {
  .md-tabs {
    margin-top: -50px;
  }
  .md-tabs .md-tabs__list {
    margin-left: 137px;
  }
}

/* Image background */

body {
  --background-image: url(../assets/background_lightmode.jpg);
}

[data-md-color-scheme="slate"] {
  --background-image: url(../assets/background_darkmode.jpg);
}

body:has([href="."]) .md-main {
  background-image: var(--background-image);
  background-position: center;
  background-position-y: top;
  background-repeat: no-repeat;
  background-size: auto 600px;
}

/* Buttons */

#copy-button {
  border-radius: 10px;
  font-size: large;
}

/* Staff tags */

.tag-owner {
  background-color: purple;
  color: white;
  font-size: 12px;
  padding: 2px 6px;
  border-radius: 4px;
  margin-left: 8px;
  font-weight: bold;
}

.tag-admin {
  background-color: red;
  color: white;
  font-size: 12px;
  padding: 2px 6px;
  border-radius: 4px;
  margin-left: 8px;
  font-weight: bold;
}

.tag-mod {
  background-color: green;
  color: white;
  font-size: 12px;
  padding: 2px 6px;
  border-radius: 4px;
  margin-left: 8px;
  font-weight: bold;
}

.tag-staff {
  background-color: lightseagreen;
  color: white;
  font-size: 12px;
  padding: 2px 6px;
  border-radius: 4px;
  margin-left: 8px;
  font-weight: bold;
}