/* Custom colors */

body {
  --md-primary-fg-color:        #ff8400;
  --md-primary-fg-color--light: #ff8400;
  --md-primary-fg-color--dark:  #ff6c00;
}

/* Header configuration */

/* Main logo display */

.md-header__button.md-logo {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}

.md-header__button.md-logo img,
.md-header__button.md-logo svg {
  height: 70%;
  width: 100%;
}

/* Nav tabs position */

.md-header {
  overflow: hidden;
}

.md-tabs {
  position: relative;
  left: 138px;
  margin-top: -55px;
  background-color: transparent;
  width: available;
}

@media (max-width: 1999px) {
  .md-tabs {
    left: 136px;
  }
}

@media (max-width: 1599px) {
  .md-tabs {
      left: 133px;
      margin-top: -50px;
  }
}

/* Image background */

body:has([href="."]) .md-main {
  background-image: url(../assets/background.png);
  background-position: center;
  background-position-y: top;
  background-repeat: no-repeat;
  background-size: auto 460px;
}
